.vc_row.helper-class {
  position: relative;
  z-index: 0;
}

.headings-wrap{
  position: relative;
  &.anime-wrap {
    .headings {
      display: table;
      height: 450px;
      margin-bottom: 75px;
      .content {
        min-height: 450px;
        display: table-cell;
        vertical-align: middle;
      }
    }
  }

  .title-bg{
    font-family: 'Muli', sans-serif;
    font-size: 200px;
    font-weight: 800;
    letter-spacing: .1px;
    color: #f7f7f7;
    position: absolute;
    bottom: -23px;
    right: 0;
    z-index: -2;
    margin: 0;
    line-height: 1;
  }
  &.not-bg-title .headings{
    padding-bottom: 0!important;
  }
  &.load-fade {
    .title,
    .subtitle,
    .title-bg,
    .but-wrap,
    .crumbs {
      opacity: 0;
      -webkit-transition: all .7s cubic-bezier(.37,.31,.2,.85);
      -o-transition: all .7s cubic-bezier(.37,.31,.2,.85);
      transition: all .7s cubic-bezier(.37,.31,.2,.85);
      &.animation {
        opacity: 1;
      }
    }
    .title,
    .subtitle,
    .crumbs {
      -moz-transform: translateZ(0);
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-transform: translateY(50px);
      -ms-transform: translateY(50px);
      transform: translateY(50px);
      &.animation {
        transform: matrix(1, 0, 0, 1, 0, 0);
      }
    }
    .subtitle {
      transition-delay: .2s;
    }
    .title {
      transition-delay: .4s;
    }
    .title-bg,
    .but-wrap {
      transition-delay: .6s;
    }
    .crumbs {
      transition-delay: .5s;
    }
  }

  .images-wrap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .img-wrap {
    position: absolute!important;
    right: -20%;
    z-index: 20;
    &:nth-of-type(2n+1) {
      left: -10% !important;
      img {
        animation-delay: 5s;
      }
    }
    img {
      position: relative;
      animation: fragment backwards 60s ease-in-out infinite;
      &.left-animation {
        animation: waves-left forwards 5s ease-in-out infinite;
        animation-direction: alternate;
      }
      &.right-animation {
        animation: waves-right forwards 5s ease-in-out infinite;
        animation-direction: alternate;
      }
    }
  }
  $class-slug: img-wrap !default;
  @for $i from 0 through 5 {
    .#{$class-slug}-#{$i+1} {
      top: ($i*15) + 5%!important;
    }
  }
  @-webkit-keyframes fragment {
    0% {  -webkit-transform: scale(1) translateX(0);  transform: scale(1) translateX(0) }
    50% {  -webkit-transform: scale(1.1) translateX(-10%) ;  transform: scale(1.1) translateX(-10%) ; }
    100% {  -webkit-transform: scale(1) translateX(0) ;  transform: scale(1) translateX(0) ; }
  }
  @keyframes fragment {
    0% {  -webkit-transform: scale(1) translateX(0);  transform: scale(1) translateX(0) }
    50% {  -webkit-transform: scale(1.1) translateX(-10%) ;  transform: scale(1.1) translateX(-10%) ; }
    100% {  -webkit-transform: scale(1) translateX(0) ;  transform: scale(1) translateX(0) ; }
  }
  @keyframes waves-left {
    0% {
      left: 0;
    }
    50% {
      left: 600px;
    }
    100% {
      left: 0;
    }
  }
  @keyframes waves-right {
    0% {
      right: 0;
    }
    50% {
      right: 600px;
    }
    100% {
      right: 0;
    }
  }
  .wrapper-left,
  .wrapper-right {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
  }
  .wrapper-left {
    left: 0;
  }
  .wrapper-right {
    right: 0;
  }
}

.headings{
  margin:auto;
  .title i{
    color: #f54ea2!important;
    font-style: normal;
  }
  &.style1{
    padding-bottom: 82px;
    .title {
      max-width: 810px;
    }
  }
  &.style4,
  &.style2{
    text-align: center;
    max-width: 780px;
    .subtitle{
      display: block;
      margin-bottom: 25px;
    }
  }
  &.style3 {
    min-height: 520px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    .content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 30px 0;
      text-align: center;
    }
    .title {
      -ms-word-wrap: break-word;
      word-wrap: break-word;
    }
    .crumbs {
      margin-top: 25px;
      a {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-size: 15px;
        font-weight: 800;
        letter-spacing: .2px;
        line-height: 1.6;
        text-decoration: none;
        transition: color .3s ease;
        &:not(:last-of-type) {
          &::after {
            content: "";
            display: inline-block;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            margin: 0 10px;
            background-color: #d8d8d8;
          }
        }
        &:hover,
        &:last-of-type {
          color: #f54ea2;
        }
      }
    }
  }
  .subtitle{
    font-size: 18px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: .2px;
    color: #f54ea2;
  }
  .title{
    font-size: 50px;
    font-weight: 800;
    letter-spacing: .2px;
    color: #222222;
    line-height: 1.2;
  }
  .content{
    display: table;
    width: 100%;
  }
  .info{
    display: table-cell;
  }
  .but-wrap{
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    padding-left: 20px;
    .a-btn{
      text-align: center;
    }
  }
  &.style5 {
    .content {
      padding: 0 15px;
    }
    .title {
      font-size: 100px;
    }
    .typed,
    .typed-cursor{
      color: #f54ea2;
    }
  }
  &.style6 {
    min-height: 700px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    .content {
      max-width: 1140px;
      margin: 0 auto;
      padding-bottom: 100px;
    }
    .title {
      max-width: 800px;
      color: #ffffff;
      font-size: 60px;
    }
    background-color: #8b71e8;

    -webkit-animation: hue-rotation 8s linear 0s infinite;
    -moz-animation: hue-rotation 8s linear 0s infinite;
    animation: hue-rotation 8s linear 0s infinite;

    @-webkit-keyframes hue-rotation {
      0% {
        filter: hue-rotate(0) opacity(.6)
      }

      100% {
        filter: hue-rotate(360deg) opacity(.6)
      }
    }

    @keyframes hue-rotation {
      0% {
        filter: hue-rotate(0) opacity(.6)
      }

      100% {
        filter: hue-rotate(360deg) opacity(.6)
      }
    }
  }
}

.headings.style4 .title{
  font-size: 85px;
}

@media only screen and (max-width: 1300px){
  .headings-wrap .title-bg{
    font-size: 150px;
  }
  .headings.style5 .title{
    font-size: 70px;
  }
}
@media only screen and (max-width: 1199px){
  .headings .title{
    font-size: 40px;
  }
  .headings {
    &.style5 {
      .title {
        font-size: 50px;
      }
    }
    &.style6 {
      min-height: 500px;
      .content {
        max-width: 770px;
      }
      .title {
        padding: 0 15px;
      }
    }
  }
}

@media only screen and (max-width: 1024px){
  .headings-wrap .title-bg{
    font-size: 140px;
  }
  .headings.style6 .title,
  .headings.style4 .title{
    font-size: 55px;
  }

  .headings-wrap.anime-wrap .headings,
  .headings-wrap.anime-wrap .headings .content{
    height: 350px;
  }
  .headings {
    &.style6 {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      .content {
        padding: 0;
      }
      .title {
        text-align: center;
      }
    }
  }

  .headings-wrap {
    &.load-fade {
      .title,
      .subtitle,
      .but-wrap,
      .crumbs {
        -moz-transform: translateZ(0);
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-transform: translateY(50px);
        -ms-transform: translateY(50px);
        transform: translateY(50px);
        &.animation {
          transform: matrix(1, 0, 0, 1, 0, 0);
        }
      }
      .subtitle {
        transition-delay: .1s;
      }
      .title {
        transition-delay: .2s;
      }
      .crumbs {
        transition-delay: .3s;
      }
      .but-wrap {
        transition-delay: .3s;
      }
    }
  }
}
@media (max-width: 991px) {
  .headings {
    &.style1 {
      .title {
        max-width: 520px;
      }
    }
  }
}
@media (max-width: 767px) {
  .headings.style1{
    padding-bottom: 80px;
  }
  .headings-wrap {
    .title-bg{
      bottom: 0;
      right: auto;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }

  .headings {
    &.style1 {
      .title {
        padding: 0 15px;
        margin: 0 auto;
      }
      .info {
        width: 100%;
      }
      .content,
      .but-wrap,
      .info {
        text-align: center;
        display: block;
      }
    }
    &.style3 {
      min-height: 240px;
      max-width: 600px;
      .crumbs {
        margin-top: 10px;
      }
    }
    &.style5 {
      .title {
        font-size: 30px;
      }
    }
    &.style6 {
      min-height: 350px;
      .title {
        font-size: 30px;
      }
    }
  }
  .headings.style4 .title,
  .headings .title{
    font-size: 35px;
  }
  .headings-wrap.anime-wrap .headings,
  .headings-wrap.anime-wrap .headings .content{
    height: 250px;
    margin-bottom: 15px;
  }
  .headings .but-wrap {
    margin-top: 30px;
  }
  .headings-wrap .title-bg{
    font-size: 80px;
  }
}
@media only screen and (max-width: 600px){
  .headings.style4 .title,
  .headings .title{
    font-size: 30px;
  }
  .headings .content,
  .headings .info,
  .headings .but-wrap{
    display: block;
    padding: 0;
  }
  .headings.style4 .content,
  .headings.style2 .content,
  .headings.style4 .info,
  .headings.style2 .info,
  .headings.style3 .content,
  .headings.style3 .info {
    text-align: center;
  }
}